{% extends 'layout.html.twig' %}

{% block page_title %}Dashboard{% endblock %}
{% block page_pretitle %}You are using the language: {{ app.request.locale|language(app.request.get('_locale')) }}{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6">
            {# ... box widget with defaults ... #}
            {% embed '@Tabler/embeds/card.html.twig' with {
                'boxtype' : 'danger',
                'solid' : true,
                'collapsible' : 'widget-box.collapse'|trans ~ '... ',
                'margin_bottom': 4
            } %}

                {% block box_title %}Widget box title{% endblock %}
                {% block box_body %}
                    <div class="callout callout-info">
                        Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                        dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                        Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                        venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                        ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                        porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                        tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                        Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                        metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                        nunc.
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {% import '@Tabler/components/buttons.html.twig' as button %}
                        {{ button.link_button('Save', '#', 'fas fa-save', 'danger') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
            {# ... box widget with some options ... #}
            {% embed '@Tabler/embeds/card.html.twig' with {
            'boxtype' : 'success',
            'solid' : 0,
            'id': 'myCollapsibleCard',
            'margin_bottom': 4
            } %}

                {% import '@Tabler/components/buttons.html.twig' as button %}
                {% block box_body_class %}show{% endblock %}
                {% block box_tools %}
                    {{ button.action_cardtoolbutton('fas fa-edit', {}) }}
                    {{ button.action_collapsebutton('Collapse', '#myCollapsibleCard .card-body') }}
                {% endblock %}
                {% block box_title %}Widget box title{% endblock %}
                {% block box_body %}
                    <div class="callout callout-info">
                        Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                        dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                        Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                        venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                        ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                        porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                        tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                        Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                        metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                        nunc.
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {{ button.link_button('Save', '#', 'far fa-save', 'success') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {# ... box widget with defaults ... #}
            {% embed '@Tabler/embeds/card.html.twig' with {
                'id': 'myCollapsibleCard2',
            } %}

                {% import '@Tabler/components/buttons.html.twig' as button %}
                {% block box_title %}Widget box title{% endblock %}
                {% block box_tools %}
                    {{ button.action_cardtoolbutton('fas fa-edit', {}) }}
                    {{ button.action_collapsebutton('Collapse', '#myCollapsibleCard2 .card-body') }}
                {% endblock %}
                {% block box_body %}
                    <div>
                        Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                        dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                        Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                        venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                        ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                        porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                        tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                        Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                        metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                        nunc.
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {{ button.link_button('Save'|trans, '#', 'far fa-save', 'primary') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
            {# ... box widget with some options ... #}
            {% embed '@Tabler/embeds/card.html.twig' %}

                {% import '@Tabler/components/buttons.html.twig' as button %}
                {% block box_title %}Widget box title{% endblock %}
                {% block box_body %}
                    <div>
                        Sed libero ipsum, auctor ac volutpat ac, adipiscing a enim. Nulla convallis quam eget tortor
                        dictum lobortis. Aenean tincidunt arcu id lectus facilisis imperdiet. Curabitur in orci nisl.
                        Nullam vitae arcu in tellus malesuada sollicitudin ut in sem. Ut eu nunc lacus, sit amet
                        venenatis mauris. Donec dui neque, cursus sed molestie sit amet, tempor quis nibh. Proin nec
                        ligula non lacus fermentum tincidunt. Nam tempus lectus ut dolor imperdiet quis commodo odio
                        porttitor. Fusce blandit placerat posuere. Pellentesque risus leo, tempor sit amet consequat
                        tempus, dictum vel magna. Nulla dolor turpis, dignissim a sodales quis, molestie molestie magna.
                        Vivamus imperdiet vestibulum tellus, quis rutrum magna eleifend quis. Pellentesque convallis
                        metus nisl. Sed eu dolor massa, sit amet luctus nulla. Mauris sit amet diam urna, eget volutpat
                        nunc.
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {{ button.link_button('Cancel'|trans, '#', 'fas fa-times', 'warning') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="w-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">Civil Engineer, Product Management</td>
                            <td class="text-secondary"><a href="#" class="text-reset">mlebarree5@unc.edu</a></td>
                            <td class="text-secondary">User</td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Egan Poetz</td>
                            <td class="text-secondary">Research Nurse, Engineering</td>
                            <td class="text-secondary"><a href="#" class="text-reset">epoetz6@free.fr</a></td>
                            <td class="text-secondary">User</td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kellie Skingley</td>
                            <td class="text-secondary">Teacher, Services</td>
                            <td class="text-secondary"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                            <td class="text-secondary">User</td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Christabel Charlwood</td>
                            <td class="text-secondary">Tax Accountant, Engineering</td>
                            <td class="text-secondary"><a href="#" class="text-reset">ccharlwood8@nifty.com</a></td>
                            <td class="text-secondary">Owner</td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Haskel Shelper</td>
                            <td class="text-secondary">Staff Scientist, Legal</td>
                            <td class="text-secondary"><a href="#" class="text-reset">hshelper9@woothemes.com</a></td>
                            <td class="text-secondary">User</td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
