{% extends '@Tabler/layout_horizontal.html.twig' %}

{% block page_title %}Demo application{% endblock %}
{% block page_pretitle %}{% endblock %}

{% block navbar_start %}
    {% if app.session.get('theme') == 'dark' %}
    <a href="{{ path('light-mode') }}" class="nav-link px-0 me-2" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable light mode">
        {{ tabler_icon('sun', true) }}
    </a>
    {% else %}
    <a href="{{ path('dark-mode') }}" class="nav-link px-0 me-2" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable dark mode">
        {{ tabler_icon('moon', true) }}
    </a>
    {% endif %}
    <div class="nav-item dropdown d-none d-md-flex me-2">
        <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Choose a language" aria-expanded="false">
            {{ tabler_icon('fas fa-globe', true) }}
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-card" data-bs-popper="none">
            <div class="card">
                <div class="card-header text-nowrap">{{ 'Choose a language'|trans }}</div>
                {% for locale in locales() %}
                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                        {{ locale|language(app.request.get('_locale')) }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @import url("https://rsms.me/inter/inter.css");
    </style>    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/twig.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
