{% extends '@Tabler/layout.html.twig' %}

{% block page_title %}Demo application{% endblock %}
{% block page_stats %}{% endblock %}

{% block navbar_start %}
    {% if app.session.get('theme') == 'dark' %}
    <a href="{{ path('light-mode') }}" class="nav-link px-0 hide-theme-dark" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable light mode">
        {{ tabler_icon('sun') }}
    </a>
    {% else %}
    <a href="{{ path('dark-mode') }}" class="nav-link px-0 hide-theme-dark" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable dark mode">
        {{ tabler_icon('moon') }}
    </a>
    {% endif %}
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-globe"></i>
            <span class="label label-primary">{{ app_locales|length }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">Change language (scroll for more)</li>
            <li>
                <ul class="menu">
                    {% for locale in app_locales %}
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}">
                            {{ locale|language(app.request.get('_locale')) }}
                            <span class="pull-right">{{ locale }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock %}
