{% extends 'layout.html.twig' %}

{% block page_title %}Alert demo{% endblock %}
{% block page_pretitle %}Using alert macro{% endblock %}

{% block page_content %}
    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "alert" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            <p class="p-2 pt-3">
                Use it like this:
                <code>
                    {% verbatim %}
                    {% from '@Tabler/components/alert.html.twig' import alert %}
                    {% endverbatim %}
                </code>
            </p>
            {% set importTpl = "{% from '@Tabler/components/alert.html.twig' import alert %}" %}
            {% set codeTemplates = [
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', icon : 'warning', dismissible : true}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', icon : 'warning'}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', icon : 'warning', important: true}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', icon : 'warning', important: true, dismissible : true}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', type : 'warning'}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', description: 'Description V2', type : 'warning', dismissible : true}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', type : 'warning'}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', type : 'warning', dismissible : true}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', icon : 'warning', type : 'warning'}) }}",
                importTpl ~ "{{ alert({title : 'Title V2', icon : 'warning', type : 'warning', dismissible : true}) }}",
                importTpl ~ "{{ alert({description : 'Description V2', type : 'success'}) }}",
                importTpl ~ "{{ alert({description : 'Description V2', type : 'success', dismissible : true}) }}",
                importTpl ~ "{{ alert({description : 'Description V2', type : 'success', icon : 'warning'}) }}",
                importTpl ~ "{{ alert({description : 'Description V2', type : 'success', icon : 'warning', dismissible : true}) }}",
                importTpl ~ "{{ alert({type : 'primary'}) }}",
                importTpl ~ "{{ alert({type : 'primary', dismissible : true}) }}",
            ] %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered alert</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(tpl)) }}
                        </td>
                        <td>
                            <code>{{ tpl|replace({(importTpl): ''}) }}</code>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "alert" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            <p class="p-2 pt-3">
                <strong>This deprecated way of using it supported passing direct arguments. <br>
                Will be removed from the API soon: do NOT use it any longer!</strong>
            </p>
            {% set importTpl = "{% from '@Tabler/components/alert.html.twig' import alert %}" %}
            {% set codeTemplates = [
                importTpl ~ "{{ alert('danger', 'Description' ,'Title', 'fas fa-exclamation-triangle', true) }}",
                importTpl ~ "{{ alert('danger', 'Description' ,'Title', 'fas fa-exclamation-triangle') }}",
                importTpl ~ "{{ alert('danger', 'Description' ,'Title', 'fas fa-exclamation-triangle') }}",
                importTpl ~ "{{ alert('warning', 'Description' ,'Title') }}",
                importTpl ~ "{{ alert('warning', null ,'Title') }}",
                importTpl ~ "{{ alert('warning', null ,'Title', 'fas fa-exclamation-triangle') }}",
                importTpl ~ "{{ alert('success', 'Description') }}",
                importTpl ~ "{{ alert('success', 'Description', null, 'fas fa-exclamation-triangle') }}",
                importTpl ~ "{{ alert('primary') }}",
                importTpl ~ "{{ alert('danger', 'description', 'title', 'about') }}",
                importTpl ~ "{{ alert('warning', 'description', 'title', 'fas fa-exclamation', true) }}",
                importTpl ~ "{{ alert('info', 'description', 'What a great bundle') }}",
                importTpl ~ "{{ alert('warning', null, 'title', 'fas fa-exclamation') }}",
                importTpl ~ "{{ alert('warning', null, 'title', 'fas fa-exclamation', true) }}",
                importTpl ~ "{{ alert('danger', null, 'title', 'fas fa-exclamation', true) }}",
                importTpl ~ "{{ alert('warning', 'description', null, 'fas fa-exclamation') }}",
                importTpl ~ "{{ alert('warning', 'description', null, 'fas fa-exclamation', true) }}",
                importTpl ~ "{{ alert('danger', 'description', null, 'fas fa-exclamation') }}",
                importTpl ~ "{{ alert('warning', 'description') }}",
                importTpl ~ "{{ alert('primary', 'description') }}",
                importTpl ~ "{{ alert('success', 'description', null, null, true) }}",
                importTpl ~ "{{ alert('info', null, 'title', null, true) }}",
            ] %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered alert</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(tpl)) }}
                        </td>
                        <td>
                            <code>{{ tpl|replace({(importTpl): ''}) }}</code>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}
