{% extends 'layout.html.twig' %}

{% block page_title %}Button demo{% endblock %}
{% block page_subtitle %}Using button macro{% endblock %}

{% block page_content %}
    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}{{ 'Some buttons in a card'|trans }}{% endblock %}
        {% block box_body %}
            <p>
                Importing the button macro with:
                <strong>
                {% verbatim %}
                {% from '@Tabler/components/button.html.twig' import button %}
                {% endverbatim %}
                </strong>
            </p>
            {% from '@Tabler/components/button.html.twig' import button %}
            <table class="table table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>Rendered button</th>
                        <th>Used code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 30%">
                        {{ button('save', { title : 'action.save'|trans}) }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans}) }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button('save', { title : 'action.save'|trans}, false) }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans}, false) }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button('save', { title : 'action.save'|trans, label: 'test'}) }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans, label: 'test'}) }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button('save', { title : 'action.save'|trans}, 'success') }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans}, 'success') }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button(false , { title : 'action.save'|trans}) }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button(false , { title : 'action.save'|trans}) }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button(false , { title : 'action.save'|trans}, 'link') }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button(false , { title : 'action.save'|trans}, 'link') }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button(false , { title : 'action.save'|trans}, 'success') }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button(false , { title : 'action.save'|trans}, 'success') }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        {{ button('save', { title : 'action.save'|trans, combined: true}, 'success') }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans, combined: true}, 'success') }}
                            {% endverbatim %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                        {{ button('save', { title : 'action.save'|trans, combined: true, label: 'test', labelColor: 'red'}, 'success') }}
                        </td>
                        <td>
                            {% verbatim %}
                            {{ button('save', { title : 'action.save'|trans, combined: true, label: 'test', labelColor: 'red'}, 'success') }}
                            {% endverbatim %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
