{% extends 'layout.html.twig' %}

{% block page_title %}Status demo{% endblock %}
{% block page_pretitle %}Using status macro{% endblock %}

{% block page_content %}
    {% set colors = ['blue', 'azure', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'lime', 'green', 'teal', 'cyan'] %}

    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "status" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            <p class="p-2 pt-3">
                Use it like this:
                <code>
                    {% verbatim %}
                    {% from '@Tabler/components/status.html.twig' import status %}
                    {% endverbatim %}
                </code>
            </p>
            {% set importTpl = "{% from '@Tabler/components/status.html.twig' import status %}" %}
            {#
                {% set _color = options.color ?? 'green' %}
                {% set _animated = options.animated ?? true %}
                {% set _lite = options.lite is defined ? options.lite  : false %}
                {% set _with_dot = options.with_dot is defined ? options.with_dot  : false %}
                {% set _extraClass = options.extraClass ?? '' %}
            #}
            {% set codeTemplates = [] %}
            {% for color in colors %}
                {% set codeTemplates = codeTemplates|merge([
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "'}) }}",
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "', with_dot: true}) }}",
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "', with_dot: true, animated: false}) }}",
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "', lite: true}) }}",
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "', with_dot: true, lite: true}) }}",
                    importTpl ~ "{{ status('" ~ color|title ~ "', {color: '" ~ color ~ "', with_dot: true, animated: false, lite: true}) }}",
                ]) %}
            {% endfor %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered status</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(tpl)) }}
                        </td>
                        <td>
                            <code>{{ tpl|replace({(importTpl): ''}) }}</code>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "status_dot" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            {% set importTpl = "{% from '@Tabler/components/status_dot.html.twig' import status_dot %}" %}
            {% set codeTemplates = [
                importTpl ~ "{{ status_dot() }}",
                importTpl ~ "{{ status_dot({animated: false}) }}",
            ] %}
            {% for color in colors %}
                {% set codeTemplates = codeTemplates|merge([
                    importTpl ~ "{{ status_dot({color: '" ~ color ~ "', animated: true}) }}",
                    importTpl ~ "{{ status_dot({color: '" ~ color ~ "', animated: false}) }}",
                ]) %}
            {% endfor %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered status</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(tpl)) }}
                        </td>
                        <td>
                            <code>{{ tpl|replace({(importTpl): ''}) }}</code>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "status_indicator" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            {% set importTpl = "{% from '@Tabler/components/status_indicator.html.twig' import status_indicator %}" %}
            {% set codeTemplates = [
                importTpl ~ "{{ status_indicator() }}",
                importTpl ~ "{{ status_indicator({animated: false}) }}",
            ] %}
            {% for color in colors %}
                {% set codeTemplates = codeTemplates|merge([
                    importTpl ~ "{{ status_indicator({color: '"~color~"', animated: true}) }}",
                    importTpl ~ "{{ status_indicator({color: '"~color~"', animated: false}) }}",
                ]) %}
            {% endfor %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered status</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(tpl)) }}
                        </td>
                        <td>
                            <code>{{ tpl|replace({(importTpl): ''}) }}</code>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}
